--cc:clang
--define:useMalloc
-t:"-fsanitize=fuzzer,address,undefined"
-l:"-fsanitize=fuzzer,address,undefined"
-d:noSignalHandler
--noMain:on
--debugger:native
--passC:"-g3"

# Fuzzing must succeed with all safety checks disabled.
--define:danger
--define:release
